@import "~antd/dist/antd.css";

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  height: 300px;
  width: 300px;
  ul {
    height: 90%;
    overflow-y: auto;
  }
  li {
    height: 30px;
    line-height: 30px;
    padding: 3px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    margin-right: 5px;
    transition: all .3s;
    margin-bottom: 10px;
    &:hover {

    }

  }
  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .completed {
    background-color: #4c939e;
    color: #fff;
  }

}
